

<section>
    <div class="items-center w-full max-w-md px-7 py-16 mx-auto bg-white rounded-2xl shadow-xl">
        <div class="feed-profile-photo">
            <img class="px-2 pl-2 justify-center" src="/uploads/{{user.profile_picture}} alt={{first_name}} {{last_name}}'s profile picture">
        </div>
        <div class="feed-user">
            <p class="text-2xl ml-16 font-medium text-black">{{user.first_name}} {{user.last_name}} This is a test</p>
        </div>
        <button id="feed-message-btn" class="bg-blue-500 hover:bg-blue-700 text-white       font-bold py-2 px-4 rounded-full float-right">
                Send a Message!
        </button>
        <div class="feed"></div>
    </div>


</section>
<script src="/javascript/feed.js"></script>

{{!-- 

<div class="max-w-sm w-full lg:max-w-full lg:flex">
  <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
  </div>
  <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <div class="text-gray-900 font-bold text-xl mb-2"><p class="text-gray-700 text-base">{{user.first_name}} {{user.last_name}}</p></div>
      <p class="text-gray-700 text-base">Prefers hikes of a {{user.first_name}} distance</p>
    </div>
    <div class="flex items-center">
      <img class="w-10 h-10 rounded-full mr-4" src="{{user.profile_picture}} alt={{user.first_name}} {{user.last_name}}'s profile picture">
    {{!-- <button type="button" class="collapsible">Preferences</button>
<div class="content">
  <p>Lorem ipsum...</p>
</div>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script> --}}
    </div>
  </div>
</div>

<script src="/javascript/feed.js"></script> --}}

{{!-- <div id="feed">
    {{#each this}}
    {{> profile-partial}}
    {{/each}}
</div> --}}